 *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Hanken Grotesk', sans-serif;
    line-height: 1;
}

html{
    background-color: hsl(241, 100%, 89%);
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
      display: flex;
      background-color: white;
      border-radius: 40px;   
}

 .result{
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 35px;
    padding-top: 50px;


}

.summary{
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border-radius: 40px;
    box-shadow: 35px 10px 40px rgba(0,0,0,0.15);

}

.summary-text{
  align-self: flex-start;
  margin-left: 37px;
  font-size: larger;
  font-weight: 600;
  margin-bottom: 15px;

}

.result{
    background: linear-gradient(to bottom,hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 40px;
    color: white;
}
.yourResult{
    color: hsl(241, 100%, 89%);
    font-size: larger;
}
.score{
    background: linear-gradient(to bottom,hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    width: 150px;
    height: 150px;
    border-radius: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 20px;
    
}
.score h1{
    font-weight: 800;
    font-size: 70px;
    margin-top: 10px;
    
}

.score p{
    color: hsl(241, 100%, 89%);
}

.result h2{
    margin-bottom: 10px;
}
.result p{
    /* margin-bottom: 40px; */
    /* padding-bottom: ; */
    text-align: center;
    line-height: 1.2;
    color: hsl(241, 100%, 89%);
}

.size{
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-radius: 10px;
    margin-top: 10px;
}

button{
    width: 220px;
    background-color: hsl(224, 30%, 27%);
    border: none;
    height: 50px;
    color: white;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    cursor: pointer;
}

.reaction{
    background-color: hsl(0, 29%, 97%);
}
.reaction-color{
    color: hsl(0, 100%, 67%);
    margin-left: 10px;

}

.memory{
    background-color: hsl(30, 14%, 97%);
}
.memory-color{
    color: hsl(39, 100%, 56%);
     margin-left: 10px;
}
.verbal{
    background-color: hsl(160, 60%, 98%) ;

}
.verbal-color{
    color: hsl(166, 100%, 37%);
     margin-left: 10px;
}

.visual{
    background-color: hsl(240, 47%, 97%);
}
.visual-color{
    color: hsl(234, 85%, 45%);
     margin-left: 10px;
}
.hundred{
    color: grey;
    padding-right: 10px;
}

@media(max-width: 777px ) {
    .container{
        display: flex;
        flex-direction: column;
    }
    .summary{
    box-shadow: 0px 40px 50px rgba(0,0,0,0.15);
    }
}

@media(max-width: 380px){
    .center{
        height: 100vh;
        width: 100vw;
        border-radius: 0;
    }
    .container{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;  
        border-radius: 0;
    }
    .result{     
    width: 100%;
    height: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    }
    .summary{
     width: 100%;
    height: auto;
    box-shadow: none;
    border-radius: 0;
    }
    html{
        background-color: white;

    }


}





